@model IEnumerable<PickAVibe.Models.WatchedMoviesVM>

@{
    ViewBag.Title = "Watched";
}

@Html.Partial("_ProfileModalDelMovie")
@Html.Partial("_RatingModal")


<h3 class="mov-title">Watched</h3>

@using (Html.BeginForm("Watched", "Profile", FormMethod.Get))
{
    <p class="d-flex align-items-center">
        <span class="me-2">Search: </span>@Html.TextBox("searchString")
        <input type="submit" value="Search" class="btn btn-1 btn-sm ms-2" />
    </p>
}

@foreach (var item in Model)
{
    <div class="row my-4">

        <div class="col-12 col-sm-10 col-md-4 col-lg-3 d-flex align-items-center">
            <img src="@Url.Content("~/Content/assets/posterimg/" + (string.IsNullOrEmpty(item.Movie.PosterImg) ? "00000.png" : item.Movie.PosterImg))" alt="@item.Movie.Title poster" class="rounded-3" style="width: 100%;" />
            
        </div>
        <div class="col-12 col-sm-10 col-md-8 col-lg-9 mt-2 mb-3 my-md-1 d-flex flex-column justify-content-center">
            <div class="d-flex align-items-center">
                <h3 class="mov-title m-0">@item.Movie.Title</h3>
                <span class="badge text-bg-1 m-0 ms-2">@item.Movie.Year</span>
            </div>
            
            <p class="mb-3 mt-2">Your rating: @(item.Rating / 10.0)</p>
            <div>
                <button class="btn btn-1 btn-sm edit-rating" data-id="@item.Movie.MovieID" data-current-rating="@item.Rating" data-bs-toggle="modal" data-bs-target="#ratingModal"><i class="bi bi-pencil"></i> Rating</button>
                <button class="btn btn-outline-1 btn-sm move-back-to-watchlist" data-id="@item.Movie.MovieID"><i class="bi bi-arrow-left-short"></i> Move to Watchlist</button>
                <button class="btn btn-outline-2 btn-sm delete-button" data-id="@item.Movie.MovieID" data-action-url="@Url.Action("DeleteFromWatched", "Profile")" data-toggle="modal" data-target="#deleteModal"><i class="bi bi-bookmark-x"></i> Delete</button>
            </div>
            
        </div>
    </div>
}

<a href="@Url.Action("Index", "Profile")" class="btn btn-1 btn-sm"><i class="bi bi-arrow-left-short"></i> Profile</a>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="~/Scripts/Profile-ModalDelMovie.js"></script>
<script src="~/Scripts/WatchedRatingModal.js"></script>
